/* imports the 'Architects Daughter', 'Fira Sans', and 'Indie Flower' font-families. */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fira+Sans&family=Indie+Flower&display=swap');

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f7fff7;
}

header {
    background-color: #FFE66D;
    margin-bottom: 50px;
    padding: 5px;
}

footer {
    background-color: #1a535c;
    margin-top: 0px;
    padding: 25px 0px;
}

/* --- Navigation --- */

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: #4ecdc4;
    font-family: 'Indie Flower','Courier New', Courier, monospace;
    font-size: 18px;
    margin: 0 20px 0 0;
    text-decoration: none;
}

header nav ul li:last-child a {
    margin-right: 0;
}

.center {
    text-align: center;
}

@media all and (min-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    header h1 {
        margin: 15px 0;
        padding-top: 0px;
    }

    header nav {
        margin-top: 10px;
    }

    header nav ul li a {
        font-size: 32px;
        margin: 0 50px 0 0;
    }

    header nav ul li:first-child a {
        margin-left: 50px;
    }

    header nav ul li a:hover {
        color: #4ecdc4
    }
}

/* --- Typography --- */

h1 {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 50px;
    color: #1a535c;
}

h2 {
    font-family: 'Indie Flower', serif;
    font-size: 42px;
    color: black;
}

h3 {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 30px;
    color: black;
}

p{
    font-family: 'Fira Sans'; sans-serif;
    font-size: 20px;
}

hr {
    border-width: 5px;
    border-style: solid;
    /*border-color:*/
    margin: 120px auto auto auto;
}

footer p {
    color: #4ecdc4;
    font-family: 'Architects Daughter', sans-serif;
    font-size: 24px;
    text-align: center;
    margin: auto;
}

a:link      {color:#1a535c}
a:visited   {color:#FF6B6B}
a:hover     {color:#4ecdc4}
a:active    {color:#f7fff7}

/* --- Images --- */

img {
    width: 100%;
    align-self:center;
}

.myimgstyle {
    max-width: 275px;
    max-height: 450px;
    border-color: #FF6B6B;
    border-style: double;
    border-width: 10px;
    border-radius: 30px;
}

.kotastyle {
    max-width: 200px;
    max-height: 300px;
    border-color: #8789c0;
    border-style: solid;
    border-width: 10px;
    border-radius: 30px;
}

.projectimgstyle {
    max-width: 400px;
    max-height: 400px;
    border-color:#FFE66D;
    border-style: solid;
    border-width: 10px;
    border-radius: 30px;
}

/* --- Google Map iframe settings --- */

iframe {
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    border-radius: 30px;
}
/* --- Contact Form Design --- */

form {
    max-width: 450px;
    margin: 0 auto !important;
}

form label {
    display: block;
    text-align: left;
    font-family: 'Indie Flower', sans-serif;
    font-size: 18px;
    color:#FFE66D;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 2%;
}

form textarea {
    height: 50px;
}

/* --- Groups & Items (Mobile) --- */

.wrapper {
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 20px;
}

.item-double {
    flex: 2;
    margin: 30px;
}

/* --- Groups & Items (Desktop) --- */

@media all and (min-width: 800px) {
    .wrapper {
        width: 80%;
        margin: auto;
    }

    .group {
        flex-direction: row;
    }
}

/* --- Styling Sections --- */

#about {
    background-color: #4ecdc4;
    margin-top: 50px;
    padding: 25px;
}

#contact {
    background-color: #8789c0;
    padding-bottom: 20px;
}